<div class="main_title">
  <h1>Thank You!</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->

<div>
<h1><%= link_to "Home", static_pages_index_path %></h1>
</div>
