<p id="notice"><%= notice %></p>

<div class="main_title">
  <h1>Products</h1>
<div>

<div class="container-fluid" id="product_page_content">
  <div class="row">
    <%= render @products %>
  </div>
</div>

<br>
<% if signed_in? && current_user.admin? %>
<%= link_to 'New Product', new_product_path %>
<% end %>
